extends ../layout
block append head
	link(href='/stylesheets/UserProfile.css' rel='stylesheet')
block content
	.container.emp-profile
		form(method='post')
			.row
				.col-md-4
					.profile-img
						img(src=''+profile.profilePic+'' alt='')
				.col-md-6
					.profile-head
						h3= profile.fullname
						br
						if(user._id==profile._id)
							.row
								h6.col-md-5
									input.profile-edit-btn(type='submit' name='btnAddMore' value='Edit Profile')
						br
						ul#myTab.nav.nav-tabs(role='tablist')
							li.nav-item
								a#home-tab.nav-link.active(data-toggle='tab' role='tab' aria-controls='home' aria-selected='true') About
							li.nav-item
								a#home-tab.nav-link(data-toggle='tab' href='#articles' role='tab' aria-controls='articles' aria-selected='true') Articles
			.row
				.col-md-4
				.col-md-8
					#myTabContent.tab-content.profile-tab
						#home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
							.row
								.col-md-6
									label Username
								.col-md-6
									p= profile.username
							.row
								.col-md-6
									label Name
								.col-md-6
									p= profile.fullname
							.row
								.col-md-6
									label Email
								.col-md-6
									p= profile.email
							if(user._id==profile._id)
								.row
									.col-md-6
										label Contact No.
									.col-md-6
										p= profile.contact
								.row
									.col-md-6
										label Date Of Birth
									.col-md-6
										p= profile.dob.toLocaleDateString()
			hr
			if(profile.userRole>0)
				h1(id="articles") Articles
				.container(style='padding:25px;')
					.row
						if(articles.length==0)
							.alert.alert-primary No articles found
						else
							each article in articles
								.card(style='width:30%;margin:1%')
									img.card-img-top(style="width:100%;height:15vw;object-fit:cover;" src=article.photoURL alt='...')
									.card-body
										h5.card-title(style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;")= article.title
										.card-subtitle.text-muted.mb-2= article.createdAt.toLocaleDateString() + ", by "
											a(href=`/users/profile/${article.userid}`)
												emphasis= article.publishedBy
										p.card-text(style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;")= article.description
									.card-footer
										a.btn.btn-primary(href='/articles/'+article.slug+'') Read More
