extends ../layout
block append head
	link(href='/stylesheets/UserProfile.css' rel='stylesheet')
block content
	.container.emp-profile
		form(method='post')
			.row
				.col-md-4
					.profile-img
						img(src=''+user.profilePic+'' alt='')
				.col-md-6
					.profile-head
						h3= user.fullname
						br
						.row
							h6.col-md-5
								input.profile-edit-btn(type='submit' name='btnAddMore' value='Edit Profile')
						br
						ul#myTab.nav.nav-tabs(role='tablist')
							li.nav-item
								a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') About
			.row
				.col-md-4
				.col-md-8
					#myTabContent.tab-content.profile-tab
						#home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
							.row
								.col-md-6
									label Username
								.col-md-6
									p= user.username
							.row
								.col-md-6
									label FullName
								.col-md-6
									p= user.fullname
							.row
								.col-md-6
									label Email
								.col-md-6
									p= user.email
							.row
								.col-md-6
									label Contact No.
								.col-md-6
									p= user.contact
							.row
								.col-md-6
									label Date Of Birth
								.col-md-6
									p= user.dob.toLocaleDateString()
